#container {
    position: relative;
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

#map {

    height: 70vh;
    width: 70vh;

}

/* #floating-panel {
    border: 2px solid var(--primary);
    border-radius: var(border-radius);
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
} */

#source,
#dest {
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark);
    width: max-content;
    justify-content: center;
    background-color: var(--primary);
    border-color: var(--dark);
    /* margin-top: 10px; */
    width: 36%;
    /* Not sure why the text inside is not black, while the button below is, any thoughts? */
}

#googleSearch {
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark);
    width: max-content;
    justify-content: center;
    background-color: var(--primary);
    border-color: var(--dark);
}

#googleSearch:hover {
    background-color: var(--light-dark);
    border-color: var(--dark);
    color: var(--secondary);
}