.custom-map-control-button {
    color: VAR(--dark);
}

#container {
    position: relative;
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

#map {

    height: 70vh;
    width: 70vh;

}

div.form-group {
    color: var(--dark);
}

input[type=text],input[type=text]::placeholder{
    color:var(--dark);
   }

#source,
#dest {
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark);
    width: max-content;
    justify-content: center;
    background-color: var(--primary);
    border-color: var(--dark);
    /* margin-top: 10px; */
    width: 36%;
}

#googleSearch {
    font-family: 'Ubuntu', sans-serif;
    color: var(--dark);
    width: max-content;
    justify-content: center;
    background-color: var(--primary);
    border-color: var(--dark);
}

#googleSearch:hover {
    background-color: var(--light-dark);
    border-color: var(--dark);
    color: var(--secondary);
}