#container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    height: 50vh;
    width: 50vh;

}

#floating-panel {
    z-index: 5;
    border: 2px solid var(--primary);
    border-radius: var(border-radius);
    text-align: center;
    font-family: 'Helvetica Neue', 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#source,
#dest {

    width: 36%;
}